/*Zera as conf da pág*/
*{  
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color:rgba(59, 233, 175);
    color:rgba(199, 228, 218);
    padding: 20px;
    text-align: center;
}

.main {
    display: flex;
    flex: 1;
    margin: 20px 0;
}
.content {
    background-color:rgba(199, 228, 218);
    flex: 1;
    padding: 20px;
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    background-color: rgba(161, 245, 245, 0.877);
    padding: 15px;
    margin-left: 30px;
    color: rgba(199, 228, 218) ;
    display: inline-block;
}

/* Rodapé */
.footer {
    background-color: rgba(60, 124, 103);
    color: rgba(199, 228, 218);
    padding: 10px;
    text-align: center;
    position: relative;
}