/*Zera as conf da pág*/
*{
    margin: 0;
    /*Zera margem*/
    padding: 0;
    /*Zera espaço*/
    box-sizing: border-box;
    /*Zera bordas*/
}

header{
    background-color: rgba(161, 245, 245, 0.877);
    margin: 15px;
    padding: 18px;
}

ul li{
    /*Tira as bolinhas*/
    list-style: none;
    display: inline;
    padding: 12px;

}

@@ -41,36 +41,18 @@
section{
    margin: 20px;
    background-color: cadetblue;

}

h2{
background-color :  rgb(161, 245, 245,0.877);
padding: 15px;
margin-left: 30px;
color: aqua;
display: inline;
}
/*
.about{
background-color :  rgb(161, 245, 245,0.877);
}
*/
#font-type{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    padding: 15px;
}

footer div p{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
} 

.rodape{
margin: 30px;;

}
